{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Definitions
{% endblock %}

{% block styles %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<style type="text/css">
	#definition_name, #delete_button {display: inline-block;}
	ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden;background-color: #2ecc71;}
	li {float: left;}
	li a {display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
	li a:hover {background-color: #111}
	body {  
background: linear-gradient(to left, #8e0e00, #1f1c18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
{% endblock %}
{% block content %}

<ul>
	<li><a href="/">Index</a></li>
	<li><a href="/theorems">Theorems</a></li>
	<li><a href="/definitions">Definitions</a></li>
	<li><a href="/examples">Examples</a></li>
	<li><button onclick="myFunction('add_definition')">add definition</button></li>
</ul>
	<form style="display: none;" name="add_definition" id="add_definition" method="POST" action="{{ url_for('add_definition') }}" novalidate>
		<h3>Add a definition</h3>
		<br>
		<label for="title">Name</label>
		<br>
		<input type="text" id="title" name="name">
		<br>
		<textarea id="content" name="content" placeholder="Write the content here" ></textarea>
		<input type="submit"  name="submit" value="Submit" >
	</form>

{% for name in definitions.keys() %}
<center>
<h3 id="definition_name">{{name}}</h3>
<form id="delete_button" name='del_theorem' method="POST" action="{{url_for('delete_definition')}}">

<input type="hidden" name="name" value="{{name}}">
<script type="text/javascript">
	
</script>
<button name='deletedef' type='submit'>Delete definition</button>
</form>
<p> {{definitions[name][1]}}</p>
</center>
{% endfor %}
 <script>
function myFunction(name_of_theorem) {
    var x = document.getElementById(name_of_theorem);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>


{% endblock %}