{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Examples
{% endblock %}
{% block styles %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<style type="text/css">
form {
  width: 0 auto ;
  margin: 23 auto;
}
</style>
<style type="text/css">
#button1 , #button2 {
	text-align: center;
	display: inline-block;
}
#example_name, #delete_button {
	display: inline-block;
}
</style>

{% endblock %}


{% block content %}
<a href="/">Index</a>
<a href="/theorems">Theorems</a>
<a href="/definitions">Definitions</a>
<a href="/examples">Examples</a>

<button id="button1" onclick="myFunction('add_example')">add example</button>
  <form style="display: none;"name="add_example" id="add_example" method="POST" action="{{ url_for('add_example') }}" novalidate>
    <h3>Add an example</h3>
	<br>
    <label for="title">Name:</label>
    <br>
    <input type="text" id="title" name="name">
	<br>
    <textarea id="content" name="content" placeholder="Write the content here" ></textarea>
	<br>
    <textarea id="content" name="solution" placeholder="Write the solution here" ></textarea>
    <input type="submit"  name="submit" value="Submit" >
  </form>
<br>

{% for name in examples.keys() %}
	<h3 id="example_name">{{name}}</h3>
	<form id="delete_button" name='del_example' method="POST" action="{{url_for('delete_example')}}">
		<input type="hidden" name="name" value="{{name}}">
		<button  name='deleteexample' type='submit'>Delete<br> example</button>
	</form>
	<p> {{examples[name][1]}}</p>
	
	<form id="{{indexes[examples[name][0]]}}" style="display: none;"  method="POST" action="{{url_for('edit_example')}}">
		<input type="hidden" name="name" value="{{name}}">
		<br>
	    <label for="statement">statement:</label>
	    <br>
   		<textarea id="content" name="newstatement" >{{examples[name][1]}}</textarea>
   		<br>
	    <label for="solution">solution:</label>
		<br>   		
   		<textarea id="content1" name="newsolution" >{{examples[name][2]}}</textarea>
		<br>
		<button name='editexample' type='submit'>submit changes</button>
	</form>






	<button id="button3" onclick="myFunction('{{examples[name][0]}}')">Show solution</button>
	<button id="button2" onclick="myFunction('{{indexes[examples[name][0]]}}')">edit example</button>
	<div style="display: none;" id="{{examples[name][0]}}">
		<p> {{examples[name][2]}}</p>
	</div>
	<br>
{% endfor %}


  <script>
function myFunction(name_of_theorem) {
    var x = document.getElementById(name_of_theorem);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

</script>

{% endblock %}