{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Theorems
{% endblock %}

{% block styles %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<style type="text/css">
  form { width: 0 auto ; margin: 23 auto;}
  #theorem_name,#delete_button { display: inline-block; }
</style>

{% endblock %}
{% block content %}
<a href="/">Index</a>
<a href="/theorems">Theorems</a>
<a href="/definitions">Definitions</a>
<a href="/examples">Examples</a>

<button onclick="myFunction('add_theorem')">add theorem</button>
  <form style="display: none;"name="add_theorem" id="add_theorem" method="POST" action="{{ url_for('add_theorem') }}" novalidate>
    <h3>Add a theorems</h3>
    <br>
    <label for="title">Name:</label>
    <br>
    <input type="text" id="title" name="name">
    <br>
    <textarea id="content" name="content" placeholder="Write the content here" ></textarea>
    <br>
    <textarea id="content" name="proof" placeholder="Write the proof here" ></textarea>
    <input type="submit"  name="submit" value="Submit" >
  </form>
<br>

{% for name in theorems.keys() %}
<h3 id="theorem_name">{{name}}</h3>
<form id="delete_button" name='del_theorem' method="POST" action="{{url_for('delete_theorem')}}">
  <input type="hidden" name="name" value="{{name}}">
  <button name='deletetheorem' type='submit'>Delete<br> theorem</button>
</form>
<p> {{theorems[name][1]}}</p>

<form id="{{indexes[theorems[name][0]]}}" style="display: none;" method="POST" action="{{url_for('edit_theorem')}}">
  <input type="hidden" name="name" value="{{name}}">
  <br>
  <label for="statement">statement:</label>
  <br>
  <textarea id="content" name="newstatement">{{theorems[name][1]}}</textarea>
  <br>
  <label for="solution">solution:</label>
  <br>
  <textarea id="content1" name="newsolution">{{theorems[name][2]}}</textarea>
  <br>
  <button name="edittheorem" type='submit'>submit changes</button>
</form>


<button onclick="myFunction('{{theorems[name][0]}}')">Show proof</button>
<button onclick="myFunction('{{indexes[theorems[name][0]]}}')">edit theorem</button>
<div style="display: none;" id="{{theorems[name][0]}}">
  <p > {{theorems[name][2]}}</p>
</div>
<br>
{% endfor %}

<script>
function myFunction(name_of_theorem) {
    var x = document.getElementById(name_of_theorem);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

{% endblock %}